{% extends 'base.html' %}
<!DOCTYPE html>

{% block body %}
<div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 300px;" height="80px">
                <img class="card-img-top img-fluid" src="/static/img/registro.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Registrarse</h5>
                  <p class="card-text">Registra tu mascota para poder acceder a nuestros servicios, si ya estás registrado puedes actualizar tus datos</p>
                  <a href="/signup" class="btn btn-primary">Registrar</a>
                  <a href="/actualizar" class="btn btn-light">Actualizar</a>
                </div>
            </div>
        </div>
   
        <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 300px;" height="80px">
                <img class="card-img-top img-fluid" src="/static/img/listar.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Conócenos</h5>
                <p class="card-text">Si quieres saber más de las mascotas que tenemos registradas ingresa aquí</p>
                <a href="/list1" class="btn btn-primary">Ir</a>
                </div>
            </div>
       </div>

       <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 300px;" height="80px">
                <img class="card-img-top img-fluid" src="/static/img/mascota.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">MisMascotas</h5>
                <p class="card-text">Si quieres saber más de tus mascotas, ingresa aquí</p>
                <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}