<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
      </ul>
    </div>
    <a class="navbar-brand" href="#">
      <img src ="/static/img/icono.png" width="50" height="50" class="d-inline-block align-center" alt="">MyPet
    </a>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      
    </form>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" id="buscar" name="buscar" placeholder="Buscar Cliente" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href=#>Buscar</button>
    </form>
  </div>
  
</nav>


